
*{
    margin: 0;
    padding: 0;

}
header{
    background-color: antiquewhite;
    padding: 50px 240px;
    align-items: center;
   
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    margin-top: 15px;
    /* padding-right:60px; */
    font-size:30px;
    font-weight: 700;
    color: #424242;
    
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color:#f00e59;
    
}
nav,ul{
    display: flex;
}
nav li{
    list-style: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;

}
nav li a{
    text-decoration: none;
    color: #424242;

}
nav li a:hover{
    color:#f9004d;
    transition: .4s;
}

/* baner section?? */


.banner-content{
    max-width:800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    margin-top: 40px;
    font-size: 3rem;
    font-weight:900;
    color: #131313;
    padding-bottom: 10px;

}
.banner-pragrap{
    font-size: 1rem;
    font-weight: 600;
    color: #131313;
}
.btn-1{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 130px;
    height:35px;
    color: rgb(249, 245, 244);
    border: none;
    border-radius:15px;
    background-color:#131313 ;
    font-size: 1rem;
    font-weight: 700; 
    cursor:pointer;

}
.banner img{
    width: 100%;
}


 /* mobile device */
    
@media screen and (max-width:576px) {
    header{ 
       padding:3px;
    }
    nav{
        flex-direction: column
    }
    
        
}

tablet device

@media screen and(min-width:576px) and (max-width:992px) {
    header{
        padding:50px;
    }
    nav{
        flex-direction: column;
    }
    
}

    

    



